<app-logheader></app-logheader>

<ion-content class="ion-padding">
<ion-text>
  <h3 class="ion-text-center">Registrarse</h3>
</ion-text>
<form #formulario="ngForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">Nombre de usuario</ion-label>
    <ion-input type="text" name="usr" id="username" required [(ngModel)]="usuario.username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" name="psw" id="password" required [(ngModel)]="usuario.password"></ion-input>
  </ion-item>
  <ion-button type="submit" expand="block" [disabled]="formulario.invalid">Registrar</ion-button>
  <ion-button expand="block" routerLink="../login" color="warning">Volver</ion-button>
</form>

</ion-content>
<app-duocfooter></app-duocfooter>
