ion-title{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 5px rgb(187, 255, 0);
}

.blue{
  color: rgb(8, 19, 173);
}

.blueBackGr{
  --background: rgb(8, 15, 112);
}
