<ion-header [translucent]="true" color="primary">
  <ion-item class="animate__animated animate__fadeInUp" >

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" class="blue"></ion-menu-button>
    </ion-buttons>
    <ion-title color="warning">
      RegistraAPP
    </ion-title>
      <ion-button slot="end" fill="clear" (click)="exitConfirm()">
        <ion-icon slot="icon-only" name="log-out-outline" color="danger"></ion-icon>
      </ion-button>

  </ion-toolbar>
  </ion-item>
  </ion-header>

<ion-content>
  <ion-item color="secondary">
    <h3 color="white">Bienvenido/a <span style="color: #fbbd1e;">{{usuario.user}}</span></h3>
  </ion-item>
</ion-content>
