#closeMenuBtn{
  font-size: 30px;
  padding-right: 10px;
}

.blue{
  color: rgb(8, 19, 173);
}

.blueBackGr{
  --background: rgb(8, 15, 112);
}

ion-title{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

