<ion-header>
  <ion-toolbar class="blueBg">
    <ion-button slot="start" fill="clear" routerLink="../../clases">
      <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center" color="tertiary">Mi asistencia</ion-title>
    <ion-button slot="end" fill="clear">
      <ion-icon slot="icon-only" name="reader-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div id="faq" *ngIf="clases">
    <ul>
      <ion-list *ngFor="let clase of clases" class="animate__animated animate__fadeInLeft">
        <li>
          <input type="checkbox" checked>
          <i></i>

          <h4 color="primary">{{clase.name}} </h4>    <h5 style="color: #012e55;" class="ion-padding">{{clase.fecha}}</h5>
          <p>
            Hora: {{clase.hora}}
          </p>
        </li>
      </ion-list>
    </ul>
  </div>

  <ion-icon name="document-text-outline" id="notFoundIcon" color="medium"></ion-icon>
  <ion-item class="ion-padding d" lines="none" disabled>Usted no ha registrado clases en esta asignatura</ion-item>

</ion-content>
